
# account-mapper:
#   image: "openjdk:26-ea-17-jdk-trixie"  # Use OpenJDK base image
#   imagePullPolicy: IfNotPresent
#   enabled: false

ph-ee-engine:
  # we use elastic and kibana from the infra namespace
  elasticsearch:
    enabled: false
  kibana:
    enabled: false

  global:
    s3BaseUrl: http://minio:9000

  operations_web:
    enabled: true
    image: docker.io/openmf/ph-ee-operations-web:gazelle-v1.1.0
    backend:
      PH_OPS_BACKEND_SERVER_URL: https://ops-bk.mifos.gazelle.localhost/api/v1
      PH_VOU_BACKEND_SERVER_URL: https://ops-bk.mifos.gazelle.localhost/api/v1
      PH_ACT_BACKEND_SERVER_URL: https://ops-bk.mifos.gazelle.localhost/api/v1
      PH_OPS_BULK_CONNECTOR_URL: https://bulk-processor.mifos.gazelle.localhost
      PH_OPS_SIGNATURE_URL: https://ops.mifos.gazelle.localhost/api/v1/util/x-signature
      PH_PLATFORM_TENANT_ID: greenbank
      PH_PLATFORM_TENANT_IDS: "greenbank,bluebank"
      PH_REGISTERING_INSTITUTION_ID: 123

  operations_app:
    enabled: true
    image: docker.io/openmf/ph-ee-operations-app:v1.17.1-gazelle-1.1.0
    imagePullPolicy: IfNotPresent
    extraEnvs:
      - name: CLOUD_AWS_S3BASEURL
        value: "http://minio:9000"
      - name: CLOUD_AWS_REGION_STATIC
        valueFrom:
          secretKeyRef:
            name: bulk-processor-secret
            key: aws-region
      - name: AWS_ACCESS_KEY
        valueFrom:
          secretKeyRef:
            name: bulk-processor-secret
            key: aws-access-key
      - name: AWS_SECRET_KEY
        valueFrom:
          secretKeyRef:
            name: bulk-processor-secret
            key: aws-secret-key
      - name: CLOUD_AWS_CREDENTIALS_ACCESS-KEY
        valueFrom:
          secretKeyRef:
            name: bulk-processor-secret
            key: aws-access-key
      - name: CLOUD_AWS_CREDENTIALS_SECRET-KEY
        valueFrom:
          secretKeyRef:
            name: bulk-processor-secret
            key: aws-secret-key
      - name: APPLICATION_BUCKET-NAME
        value: "paymenthub-ee"
    ingress:
      enabled: true
      className: nginx
      pathtype: Prefix
      path: "/"
      annotations:
        nginx.ingress.kubernetes.io/backend-protocol: "HTTP"
        nginx.ingress.kubernetes.io/enable-cors: "true"
        nginx.ingress.kubernetes.io/cors-allow-origin: "https://ops.mifos.gazelle.localhost"
        nginx.ingress.kubernetes.io/cors-allow-methods: "PUT, GET, POST, OPTIONS, DELETE"
        nginx.ingress.kubernetes.io/cors-allow-headers: "content-type,platform-tenantid,purpose,type,x-callback-url,x-correlationid,x-correlation-id,x-program-id,x-registering-institution-id,x-signature"
        nginx.ingress.kubernetes.io/cors-allow-credentials: "true"
        nginx.ingress.kubernetes.io/enable-access-log: "true"
        nginx.ingress.kubernetes.io/log-format: '$remote_addr - $remote_user [$time_local] "$request" $status $body_bytes_sent "$http_referer" "$http_user_agent" "$http_x_forwarded_for" $request_uri'
      tls:
      - hosts:
        - ops-bk.mifos.gazelle.localhost
        secretName: sandbox-secret
      hosts:
        - host: ops-bk.mifos.gazelle.localhost
          paths:
          - path: "/"
            backend:
              service:
                name: ph-ee-operations-app
                port:
                  number: 80  

  operations:
    mysql:
      enabled: true
      image:
        # repository: bitnamilegacy/mysql
        tag: "5.7"
        debug: false
  
  redis:
    image:
      repository: bitnamilegacy/redis

  camunda-platform:
    global:
      elasticsearch:
        # Elasticsearch.disableExporter if true, disables the elastic exporter in zeebe
        disableExporter: false
        host: "infra-elasticsearch.infra.svc.cluster.local"
        port: 9200
        clusterName: "fred"
      identity:
        auth:
          enabled: false

    zeebe:
      enabled: true
      env:
        - name: ZEEBE_BROKER_BACKPRESSURE_ENABLED
          value: "false"
        - name: ZEEBE_BROKER_EXECUTION_METRICS_EXPORTER_ENABLED
          value: "true"
        # - name: ZEEBE_BROKER_EXPORTERS_ELASTICSEARCH_CLASSNAME
        #   value: "hu.dpc.rt.kafkastreamer.exporter.NoOpExporter"
        - name: ZEEBE_BROKER_EXPORTERS_ELASTICSEARCH_JARPATH
          value: "/exporters/ph-ee-kafka-exporter.jar"
        - name: ZEEBE_BROKER_EXPORTERS_KAFKA_JARPATH
          value: "/exporters/ph-ee-kafka-exporter.jar"
        - name: ZEEBE_BROKER_EXPORTERS_KAFKA_CLASSNAME
          value: "hu.dpc.rt.kafkastreamer.exporter.KafkaExporter"
        - name: ZEEBE_BROKER_BACKPRESSURE_VEGAS_INITIALLIMIT
          value: "1000"
        - name: ZEEBE_BROKER_BACKPRESSURE_VEGAS_ALPHA
          value: "2"
        - name: ZEEBE_BROKER_BACKPRESSURE_VEGAS_BETA
          value: "8"
        - name: ZEEBE_BROKER_EXPORTERS_KAFKA_ARGS_INDEX_EVENT
          value: 'true'
        - name: ZEEBE_BROKER_EXPORTERS_KAFKA_ARGS_INDEX_VARIABLE
          value: 'true'
        - name: ZEEBE_BROKER_EXPORTERS_KAFKA_ARGS_INDEX_PROCESSINSTANCE
          value: 'true'
        - name: ZEEBE_BROKER_EXPORTERS_KAFKA_ARGS_INDEX_PROCESS
          value: 'true'
        - name: ZEEBE_BROKER_EXPORTERS_KAFKA_ARGS_INDEX_INCIDENT
          value: 'true'
        - name: ZEEBE_BROKER_EXPORTERS_KAFKA_ARGS_INDEX_DEPLOYMENT
          value: 'false'
        - name: ZEEBE_BROKER_EXPORTERS_KAFKA_ARGS_INDEX_ERROR
          value: 'false'
        - name: ZEEBE_BROKER_EXPORTERS_KAFKA_ARGS_INDEX_JOB
          value: 'false'
        - name: ZEEBE_BROKER_EXPORTERS_KAFKA_ARGS_INDEX_VARIABLEDOCUMENT
          value: 'false'
        - name: ZEEBE_BROKER_EXPORTERS_KAFKA_ARGS_INDEX_WORKFLOWINSTANCE
          value: 'false'
        - name: ZEEBE_BROKER_EXPORTERS_KAFKA_ARGS_INDEX_CREATETEMPLATE
          value: 'false'
      resources:
        requests:
          cpu: 200m
          memory: 1200Mi
        limits:
          cpu: 960m
          memory: 1920Mi  
      affinity: {}  
      extraInitContainers:
        - name: init-ph-ee-kafka-exporter
          image: busybox:1.37.0
          imagePullPolicy: IfNotPresent
          command: ['/bin/sh', '-c']
          args: ['wget -O /exporters/ph-ee-kafka-exporter.jar "https://mifos.jfrog.io/artifactory/phee-gradle-local/org/mifos/phee/phee-exporter/exporter-1.1.1-SNAPSHOT.jar"; ls -al /exporters/']
          volumeMounts:
            - name: exporters
              mountPath: /exporters/

    zeebe-gateway:
      enabled: false
      replicas: 1
      logLevel: debug

      resources:
        requests:
          cpu: 100m
          memory: 450Mi
        limits:
          cpu: 400m
          memory: 450Mi  
      affinity: {}

      ingress:
        enabled: true
        host: "zeebe-gateway.mifos.gazelle.localhost"

    operate:
      enabled: true
      replicas: 1
      logging:
        level:
          ROOT: INFO
          io.camunda.operate: DEBUG

      deployment:
      extraEnv:
        - name: JAVA_TOOL_OPTIONS
          value: "-Xms64m -Xmx256m -XX:+UseG1GC -XX:+ExitOnOutOfMemoryError"
          
      resources:
        requests:
          cpu: 200m
          memory: 300Mi
        limits:
          cpu: 1
          memory: 800Mi

      affinity: {}

      ingress:
        enabled: true
        host: "zeebe-operate.mifos.gazelle.localhost"

    tasklist:
      enabled: false

    optimize:
      enabled: false  

    identity:
      enabled: false

    connectors:
      enabled: false

    elasticsearch:
      enabled: false
  #### end of camunda-platform

  ph_ee_connector_mojaloop:
    enabled: true
    image: docker.io/openmf/ph-ee-connector-mojaloop-java:gazelle-v1.1.0
    imagePullPolicy: IfNotPresent
    ingress:
      enabled: true
      className: nginx
    switch:
      quotes:
        service: ""
      als:
        host: "http://fspiop-api-svc.vnext.svc.cluster.local:4000"
      transfers:
        host: http://fspiop-api-svc.vnext.svc.cluster.local:4000
        service: http://fspiop-api-svc.vnext.svc.cluster.local:4000
      transactions:
        host: http://fspiop-api-svc.vnext.svc.cluster.local:4000
        service: http://fspiop-api-svc.vnext.svc.cluster.local:4000
      oracle:
        host: http://fspiop-api-svc.vnext.svc.cluster.local:4000
    deployment:
      extraEnvs:
        - name: parties_0_domain
          value: "ph-ee-connector-mojaloop-java.paymenthub.svc.cluster.local"
        - name: parties_1_domain
          value: "http://fineract-server.mifosx.svc.cluster.local:8080"
        - name: parties_0_tenantId
          value: "greenbank"
        - name: parties_1_tenantId
          value: "bluebank"
        - name: parties_0_fspId
          value: "greenbank"
        - name: parties_1_fspId
          value: "bluebank"

  post_installation_job:
    enabled: false

  integration_test:
    enableAMSTest: false
    enableGOVTest: false
    enableGazelleTest: true 
    imagePullPolicy: IfNotPresent
    image: docker.io/openmf/ph-ee-integration-test:v1.6.2-gazelle
    imagePullPolicy: IfNotPresent
    testTags: "@gov and not @ext"
    memoryRequest: "500k"
    testResultsOutputDir: "/tmp"


    deployment:
      extraEnvs:
        - name: JAVA_TOOL_OPTIONS
          value: "-Xms64m -Xmx256m -XX:+UseG1GC -XX:+HeapDumpOnOutOfMemoryError"
    ingress:
      enabled: true
      className: nginx
      pathtype: Prefix
      path: "/"
      annotations:
        nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
        nginx.ingress.kubernetes.io/enable-cors: "true"
        nginx.ingress.kubernetes.io/cors-allow-origin: "https://ops.mifos.gazelle.localhost"
        nginx.ingress.kubernetes.io/cors-allow-methods: "PUT, GET, POST, OPTIONS, DELETE"
        nginx.ingress.kubernetes.io/cors-allow-headers: "content-type,platform-tenantid,purpose,type,x-callback-url,x-correlationid,x-correlation-id,x-program-id,x-registering-institution-id,x-signature"
        nginx.ingress.kubernetes.io/cors-allow-credentials: "true"
        nginx.ingress.kubernetes.io/enable-access-log: "true"
        nginx.ingress.kubernetes.io/log-format: '$remote_addr - $remote_user [$time_local] "$request" $status $body_bytes_sent "$http_referer" "$http_user_agent" "$http_x_forwarded_for" $request_uri'
      tls:
        - secretName: sandbox-secret
      hosts:
        - host: ops-bk.mifos.gazelle.localhost
          paths:
          - path: "/"
            backend:
              service:
                name: ph-ee-operations-app
                port:
                  number: 80  

  ph_ee_bulk_processor:
    enabled: true
    image: docker.io/openmf/ph-ee-bulk-processor:v1.12.1-gazelle-1.1.0
    imagePullPolicy: IfNotPresent
    camel_disable_ssl: false  # End-to-end TLS
    tenants: "greenbank,bluebank"
    operations_app:
      contactpoint: "http://ph-ee-operations-app:80"
      endpoints:
        batch_transaction: "/api/v1/batch/transactions"
    config:
      partylookup:
        enable: true
      approval:
        enable: true
      ordering:
        enable: false
        field: ""
      splitting:
        enable: true
        sub_batch_size: 5
      formatting:
        enable: false
        standard: "DEFAULT"
      mergeback:
        enable: true
      backpressure:
        enable: false
      completion_threshold_check:
        enable: true
        completion_rate: 95
      deduplication:
        enabled: true      

    deployment:
      extraEnvs:
        - name: JAVA_TOOL_OPTIONS
          value: |
            -Xms128m
            -Xmx256m
            -Djavax.net.ssl.trustStore=/shared/cacerts
            -Djavax.net.ssl.trustStorePassword=changeit
        - name: BULK_PROCESSOR_CALLBACK_URL
          value: "https://ph-ee-bulk-processor:8443/authorization/callback"

      initContainers:
        - name: wait-for-gateway
          image: busybox:1.28
          command:
            - sh
            - -c
            - until nslookup phee-zeebe-gateway && nc -z phee-zeebe-gateway 26500; do echo "Waiting for phee-zeebe-gateway (port 26500)..."; sleep 2; done; echo "Gateway is up!"
        - name: import-ssl-cert
          image: eclipse-temurin:17-jre
          command:
            - sh
            - -c
            - |
              echo "Copying default Java cacerts..."
              cp /opt/java/openjdk/lib/security/cacerts /shared/cacerts
              echo "Importing sandbox certificate..."
              keytool -import -trustcacerts -alias sandbox-cert \
                -file /certs/tls.crt \
                -keystore /shared/cacerts \
                -storepass changeit -noprompt
              echo "Certificate imported successfully"
              keytool -list -keystore /shared/cacerts -storepass changeit | grep sandbox
          volumeMounts:
            - name: sandbox-cert
              mountPath: /certs
              readOnly: true
            - name: shared-cacerts
              mountPath: /shared

      extraVolumeMounts:
        - name: shared-cacerts
          mountPath: /shared
          readOnly: true

      extraVolumes:
        - name: sandbox-cert
          secret:
            secretName: sandbox-secret
        - name: shared-cacerts
          emptyDir: {}

    ingress:
      enabled: true
      className: nginx
      pathType: Prefix
      path: /batchtransactions
      annotations:
        nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"  # End-to-end TLS
        nginx.ingress.kubernetes.io/backend-protocol-ssl-verify: "false"  # Self-signed cert in backend
        nginx.ingress.kubernetes.io/enable-cors: "true"
        nginx.ingress.kubernetes.io/cors-allow-origin: "https://ops.mifos.gazelle.localhost"
        nginx.ingress.kubernetes.io/cors-allow-methods: "PUT, GET, POST, OPTIONS, DELETE"
        nginx.ingress.kubernetes.io/cors-allow-headers: "content-type,platform-tenantid,purpose,type,x-callback-url,x-correlationid,x-correlation-id,x-program-id,x-registering-institution-id,x-signature"
        nginx.ingress.kubernetes.io/cors-allow-credentials: "true"
        nginx.ingress.kubernetes.io/enable-access-log: "true"
        nginx.ingress.kubernetes.io/log-format: '$remote_addr - $remote_user [$time_local] "$request" $status $body_bytes_sent "$http_referer" "$http_user_agent" "$http_x_forwarded_for" $request_uri'
      tls:
      - hosts:
        - bulk-processor.mifos.gazelle.localhost
        secretName: sandbox-secret
      hosts:
      - host: bulk-processor.mifos.gazelle.localhost
        paths:
        - path: /batchtransactions
          backend:
            service:
              name: ph-ee-bulk-processor
              port:
                number: 8443
                
  operations_app:
    contactpoint: "http://ph-ee-operations-app:80"

  ph_ee_connector_bulk:
    extraEnvs:
    - name: CHANNEL_CONTACTPOINT
      value: https://ph-ee-connector-channel:8443
    - name: CHANNEL_ENDPOINTS_BATCH-TRANSACTION
      value: /channel/transfer
    - name: BULK-PROCESSOR_ENDPOINTS_BATCH-EXECUTION
      value: /batchtransactions/execution

  channel:
    enabled: true
    tenantPrimary:
      clientId: "mifos"
      clientSecret: "password"
      tenant: "greenbank"
    tenantSecondary:
      clientId: "mifos"
      clientSecret: "password"
      tenant: "bluebank"
    DESTINATION_DFSPID: "bluebank"

    # deployment: 
    #   extraEnvs:
    #     - name: "SPRING_CONFIG_ADDITIONAL_LOCATION"
    #       value: "/config/"

    # LOGGING_LEVEL_ROOT: "DEBUG"
    # deployment:
    #   extraEnvs:
    #     - name: "SERVER_SSL_ENABLED"
    #       value: "false"
    #     - name: "SERVER_PORT"
    #       value: 8080

    ingress:
      enabled: true
      className: nginx
      pathType: Prefix
      annotations: 
        nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
      tls:
      - hosts:
        - channel.mifos.gazelle.localhost
        secretName: sandbox-secret
      hosts:
        - host: channel.mifos.gazelle.localhost          
          paths: 
          - path: /
            backend:
              service:
                name: ph-ee-connector-channel
                port:
                  number: 8443
        - host: channel-gsma.mifos.gazelle.localhost          
          paths:          
          - path: /
            backend:
              service:
                name: ph-ee-connector-channel-gsma
                port:
                  number: 82

  minio:
    ingress:
      hosts:
        - minio.mifos.gazelle.localhost
    resources:
      requests:
        memory: 128Mi
    consoleIngress:
      enabled: true 
      ingressClassName: nginx 
      labels: {}
      annotations: {}
      path: /
      hosts:
        - minio-console.mifos.gazelle.localhost
        
  kafka:
    enabled: true
    heapOpts: "-Xms128m -Xmx256m"
    resources:
      requests:
        memory: 500Mi
        cpu: 200m
      limits:
        memory: 1Gi
        cpu: 500m

  ph_ee_connector_bulk:
    enabled: true
    extraEnvs:
      - name: CHANNEL_CONTACTPOINT
        value: "https://ph-ee-connector-channel:8443"
      - name: CHANNEL_ENDPOINTS_BATCH-TRANSACTION
        value: "/channel/transfer"
      - name: BULK-PROCESSOR_ENDPOINTS_BATCH-EXECUTION
        value: "/batchtransactions/execution"

  zeebe_ops:
    enabled: true
    image: docker.io/openmf/ph-ee-zeebe-ops:v1.4.0-gazelle-1.1.0
    readinessProbe:
      initialDelaySeconds: 60
    livenessProbe:
      initialDelaySeconds: 60
    deployment:
      extraEnvs:
        - name: JAVA_TOOL_OPTIONS
          value: "-Xms256m -Xmx512m -XX:+UseG1GC -XX:+HeapDumpOnOutOfMemoryError"

    limits:
      memory: "768M"
      cpu: "500m"
    requests:
      memory: "512M"
      cpu: "50m"

  ph_ee_connector_gsma:
    enabled: false
    image: docker.io/openmf/ph-ee-connector-gsma-mm:v1.3.0-gazelle-1.1.0


  ph_ee_connector_ams_mifos:
    enabled: true
    # deployment:
    #   extraEnvs:
    #     - name: LOGGING_LEVEL_ORG_SPRINGFRAMEWORK_BOOT_CONTEXT_CONFIG
    #       value: "DEBUG"
    #     - name: LOGGING_LEVEL_ORG_SPRINGFRAMEWORK_CORE_ENV
    #       value: "DEBUG"
    #     - name: LOGGING_LEVEL_ROOT
    #       value: "DEBUG"
        # For debugging keystore loading issues when running from hostpath mounted code
        # - name: AMS_LOCAL_KEYSTORE_PATH
        #   value: "/app/keystore.jks"
